.app.light {
  --bg-color: #e5e5e5;
  --inverted-bg-color: #1e1e2e;

  --primary-color: #000994;
  --secondary-color: #0081ff;
  --inverted-primary-color: #cdd6f4;
  --inverted-secondary-color: #b4befe;
}
